{% extends 'index.html' %}
{% load humanize %}


{% block form_consulta %}
<form method="post" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    {% csrf_token %}
    <div class="row">
        <div class="row col-lg-3 mr-1">
            {{form.tipoProcedimiento}}
            <!-- <input class="form-control" type="text" placeholder="Especialidad" aria-label="Especialidad" /> -->
        </div>
        <div class="row col-lg-3 mr-1">
            {{form.procedimiento}}
            <!-- <input class="form-control" type="text" placeholder="Procedimiento" aria-label="Procedimiento"  /> -->
        </div>
        <div class="row col-lg-3 mr-1">
            {{form.ganancia}}
            <!-- <input class="form-control" type="text" placeholder="Ganancia" aria-label="Ganancia"  /> -->
        </div>


        <div class="row col-lg-2 mr-1">
            <button class="btn btn-info" type="submit">Consultar</button>
        </div>
        <div class="row col-lg-1 mr-3">
            <button class="btn btn-danger" href="#">Limpiar</button>
        </div>
        
    </div>

</form>

{% endblock form_consulta %}

{% block content %}
<main class="small">
    <div class="ml-2 gray">

        <div class=" row card mb-4 border border-success ml-2 mt-2 mr-2 " style="background: rgb(245, 250, 245);">
            <div class="card-body">
                
                <div class="row justify-content-center">
                    
                    <div class="table-responsive  col-lg-3">
                        <h5 class="color_texto font-weight-bold">ESPECIALISTAS</h5>

                        <table class="table table-bordered table-hover">
                            <thead class="color">
                                <tr>
                                    <th>Concepto</th>
                                    <th>Valor</th>
                                </tr>

                            </thead>
                            <tbody>


                                {% for especialista in data.13 %}
                                    <tr>
                                        <td>{{ especialista.0 }}</td>
                                        <td>$ {{ especialista.1|intcomma }}</td>
                                    </tr>
                                {% endfor %}

                                {% for anesteciologo in data.12 %}
                                    <tr>
                                        <td>{{ anesteciologo.0 }}</td>
                                        <td>$ {{ anesteciologo.1|intcomma }}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive col-lg-3">
                        <h5 class="color_texto font-weight-bold">SALARIOS
                        </h5>
                        <table class="table table-bordered table-hover table">
                            <thead class="color">
                                <tr >
                                    <th>Concepto</th>
                                    <th>Valor</th>
                                </tr>

                            </thead>
                            <tbody>
                                {% for salario in data.10 %}
                                    <tr>
                                        <td>{{ salario.0 }}</td>
                                        <td>$ {{ salario.1|intcomma }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>TOTAL</td>
                                    <td>$ {{ data.14|intcomma }}</td>
                                </tr>
                               
                            </tbody>
                        </table>

                    </div>

                    <div class="table-responsive  col-lg-3">
                        <h5 class="color_texto font-weight-bold">CONSULTAS</h5>

                        <table class="table table-bordered table-hover table">
                            <thead class="color">
                                <tr>
                                    <th>Concepto</th>
                                    <th>Valor</th>
                                </tr>

                            </thead>
                            <tbody>
                                {% for consulta in data.11 %}
                                    <tr>
                                        <td>{{consulta.0}}</td>
                                        <td>$ {{consulta.1|intcomma}}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>TOTAL</td>
                                    <td>$ {{ data.15|intcomma }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive col-lg-3">
                        <h5 class="color_texto font-weight-bold">OTROS RUBROS</h5>
                        <table class="table table-bordered table-hover table">
                            <thead class="color">
                                <tr >
                                    <th>Concepto</th>
                                    <th>Cantidad</th>
                                    <th>Valor</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>Derecho de Sala</td>
                                    <td>{{data.0.duracion_proc|floatformat:0 }} minutos</td>
                                    <td>$ {{data.9|intcomma}}</td>
                                </tr>
                                <tr>
                                    <td>Estancia</td>
                                    <td>{{data.0.dias_estancia}} días</td>
                                    <td>$ {{data.18|intcomma}} </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
        </div>
           
        
        <div class="card border border-dark ml-2 mr-2" style="background: rgb(242, 255, 255);">

            <div class="row">
                <div class="card-body  ml-2">
               
                    <h5 class="font-weight-bold">CANASTA</h5>
                    <div class="table-responsive " style="height: 30rem;">
                        
                        <div class="row " style="position: sticky; top: 0; z-index: 10;background-color: rgb(242, 255, 255);">
                            <div class="col-xl-2 col-md-6">
                                <div class="card bg-dark text-white mb-4 p-1">
                                    <div class="card-body p-0">TOTAL: $ {{data.8|intcomma }}
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-6">
                                <div class="card bg-secondary text-white mb-4 p-1">
                                    <div class="card-body p-0">DESECHABLE: $ {{ data.2|intcomma  }}
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-6">
                                <div class="card bg-secondary text-white mb-4 p-1">
                                    <div class="card-body p-0">MEDICAMENTO: $ {{data.3|intcomma }}
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-6">
                                <div class="card bg-secondary text-white mb-4 p-1">
                                    <div class="card-body p-0">DISP.MEDICO: $ {{data.4|intcomma }}
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-6">
                                <div class="card bg-secondary text-white mb-4 p-1">
                                    <div class="card-body p-0">PQ.DESECHABLE: $ {{data.5|intcomma }}
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="col-xl-2 col-md-6">
                                <div class="card bg-secondary text-white mb-4 p-1">
                                    <div class="card-body p-0">PQ.REUTILIZAB: $ {{data.7|intcomma }}
                                    </div>
                                </div>
                            </div>
    
    
                        </div>
                        <table class="table table-bordered table-hover" width="100%"  id="dataTable" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="position: sticky; top: 2rem; z-index: 10; background-color: #17a2b8;" >ID</th>
                                    <th style="position: sticky; top: 2rem; z-index: 10; background-color: #17a2b8;" >Nombre de la Canasta</th>
                                    <th style="position: sticky; top: 2rem; z-index: 10; background-color: #17a2b8;" >Ubicación</th>
                                    <th style="position: sticky; top: 2rem; z-index: 10; background-color: #17a2b8;" >Insumo</th>
                                    <th style="position: sticky; top: 2rem; z-index: 10; background-color: #17a2b8;" >Cantidad</th>
                                    <th style="position: sticky; top: 2rem; z-index: 10; background-color: #17a2b8;" >Costo Unitario</th>
                                    <th style="position: sticky; top: 2rem; z-index: 10; background-color: #17a2b8;" >Costo Total</th>
                                </tr>
                            </thead>
                            <tbody>
    
                                {% for canasta in data.1 %}
                                    <tr>
                                        <td>{{canasta.id}}</td>
                                        <td>{{canasta.nombreCanasta.name_can}}</td>
                                        <td>{{canasta.actividad.nombre_act}}</td>
                                        <td>{{canasta.insumo.nombre}}</td>
                                        <td>{{canasta.cantidad|floatformat:0}}</td>
                                        <td>$ {{canasta.insumo.valor|floatformat:0}}</td>
                                        <td>$ {{canasta.insumo.valor|floatformat:0}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                

            </div>


        </div>


        <div class="card border border-dark ml-2 mr-2 mt-4 col-lg-6">

            <div class="row">
                <div class="card-body col-lg-12 ml-2">
                    <div id="container"></div>
                </div>
            </div>
        </div>


        <figure class="highcharts-figure">
            
        </figure>

        <script>
            Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'COSTOS QUIRURGICOS'
            },
            subtitle: {
                text: 'POR CONCEPTO'
            },
            xAxis: {
                categories: [
                    'HONORARIOS ESPECIALISTA',
                    'HONORARIOS ANESTECIOLOGO',
                    'SALARIOS',
                    'CONSULTAS',
                    'CANASTA',
                    'ESTANCIA',
                    'DERECHO A SALA',
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Costo ($)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b> $ {point.y:,1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Costo',
                showInLegend: false,
                colorByPoint: true,
                data: {{data_graphic|safe}}
            }]
        });
            
        </script>
    </div>
</main>

{% endblock content %}