{% extends 'CostosCirugia/bases/list.html' %}


{% block title_list %}
    ESPECIALIDADES
{% endblock title_list %}

{% block btn_crear %}
    <a href="{% url 'TipoProcedimientoCrear' %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Crear Especialidad</a>
{% endblock btn_crear %}

{% block encabezado %}
    <th style="position: sticky; top: 0; z-index: 10; background-color: #17a2b8;">ID</th>
    <th style="position: sticky; top: 0; z-index: 10; background-color: #17a2b8;">Nombre
        Espcialidad</th>
    <th style="position: sticky; top: 0; z-index: 10; background-color: #17a2b8;">Accion</th>
{% endblock encabezado %}


{% block cuerpo %}
    {% if object_list %}

        {% for TipoProcedimiento in object_list %}
        <tr>
            <td>{{TipoProcedimiento.id}}</td>
            <td>{{TipoProcedimiento.nombre_tipo_proc}}</td>
            <td><a href="{% url 'TipoProcedimientoEdit' TipoProcedimiento.id %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Editar</a></td>

        </tr>
        {% endfor %}

    {% endif %}
{% endblock cuerpo %}